:root {
    --font-family: 'Arial', sans-serif;
    --font-color: #333;
    --background-color: #4b4b51;
    --header-bg-color: #222;
    --header-font-color: #fff;
    --link-color: #007BFF;
    --separator-color: #ddd;
    --project-bg-color: #fff;
    --project-border-radius: 8px;
    --project-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

body {
    margin: 0;
    padding: 0;
    font-family: var(--font-family);
    background-color: var(--background-color);
    color: var(--font-color);
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Ensure the body takes up the full height of the viewport */
}

#main-container {
    flex: 1; /* Allow the main content to grow and push the footer to the bottom */
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* Ensure footer stays at the bottom */
}

header {
    text-align: center;
    background-color: var(--header-bg-color);
    color: var(--header-font-color);
    padding: 4rem 0;
}

header h1 {
    margin: 0;
    font-size: 2.5rem;
}

header .subtitle {
    font-size: 1.2rem;
    margin-top: 0.5rem;
}

.projects-container {
    max-width: 1200px;
    margin: 2rem auto;
    padding: 0 1rem;
    flex-grow: 1; /* Allow the projects container to grow and fill available space */
}

.project {
    display: flex;
    flex-wrap: wrap;
    background-color: var(--project-bg-color);
    border-radius: var(--project-border-radius);
    box-shadow: var(--project-shadow);
    margin-bottom: 2rem;
    overflow: hidden;
}

.project-info {
    flex: 1;
    padding: 1.5rem;
}

.project-info h2 {
    margin-top: 0;
    font-size: 1.8rem;
}

.project-info .project-description {
    margin: 1rem 0;
    font-size: 1rem;
    line-height: 1.5;
}

.project-info .project-links a {
    display: inline-block;
    margin-right: 1rem;
    color: var(--link-color);
    text-decoration: none;
    font-weight: bold;
}

.project-info .project-links a:hover {
    text-decoration: underline;
}

.project-image {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f9f9f9;
}

.project-image img {
    max-width: 100%;
    height: auto;
    border-radius: var(--project-border-radius);
}

.separator {
    border: none;
    border-top: 2px solid var(--separator-color);
    margin: 2rem 0;
}

footer {
    text-align: center;
    padding: 1rem 0;
    background-color: var(--header-bg-color);
    color: var(--header-font-color);
    margin-top: auto; /* Push the footer to the bottom if content is short */
}

footer nav a {
    margin: 0 1rem;
    color: var(--header-font-color);
    text-decoration: none;
}

footer nav a:hover {
    text-decoration: underline;
}