:root {
    /* These variables exist so you can make quick and simple style changes without much CSS knowledge */

    /* applies to all areas */
    --font-family: sans-serif;
    --font-size: 14px;
    --line-height: 1.3em;
    --font-color: black;
    --link-color: #A8928A;
    --link-text-decoration: none;

    /* main content (between sidebars) */
    --content-padding: 25px;
    --content-bg-color: #F9F7E7;

    /* header */
    --header-height: 200px;
    --header-background: url('https://i.ibb.co/vjQycDB/pwv8weqcvf3412.png');
    --header-margin-bottom: 0px;


    /* sidebar */
    --sidebar-margin: 10px;
    --sidebar-width: 230px;
    --sidebar-padding: 15px;
    --sidebar-bg-color: #F9F7E7;

    /* footer */
    --footer-height: 30px;
    --footer-bg-color: #F9F7E7;

    /* navbar */
    --navitems-alignment: center;
    --space-between-navitems: 20px;
    --navbar-margin-bottom: 10px;
    --nav-bg-color: #F9F4E1;

    /* container */
    --container-width: 1000px;
    --container-bg-color: black;

    /* controls the gap between the content and the footer */
    --row-gap: 5px;

    /* To add scrollbars to your sidebars, just make the height a px value and change overflow to 'auto' */

    --sidebar-height: 500px;
    --sidebar-overflow: auto;
    --background-color: black;
}

html,
body {
    margin: 0;
    padding: 0;
    background-color: var(--background-color);
    font-family: var(--font-family);
    font-size: var(--font-size);
    line-height: var(--line-height);
    color: var(--font-color);
}

body a {
    color: var(--link-color);
    font-weight: bold;
    text-decoration: var(--link-text-decoration);
}

#main-container {
    max-width: var(--container-width);
    margin: 0 auto;
    background-color: var(--container-bg-color);
}

.flex {
    display: flex;
    margin-bottom: var(--row-gap);
}

.content-wrap {
    margin-top: var(--content-margin-top);
}

#content-container {
    width: 60%;
    margin-bottom: var(--row-gap);
    background-color: var(--content-bg-color);
}

.socials{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 3rem 0;
}

.socials li{
    margin: 0 10px;
}

.socials a{
    text-decoration: none;
    color: #fff;
    border: 1.1px black;
    padding: 5px;
    border-radius: 50%;
}

.socials a i{
    font-size: 1.1rem;
    width: 20px;
    transition: color .4s ease;
}

.socials a:hover i{
    color: aqua;
    opacity: 1;
}

   /* Style all font awesome icons */
.fa {
    padding: 20px;
    font-size: 30px;
    width: 30px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
    background: black;
    color: white;
}

.bi {
    padding: 20px;
    font-size: 30px;
    width: 30px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
    background: black;
    color: white;
}

.user{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 3rem 0;
}

.user li{
    margin: 0 10px;
}

.user a{
    text-decoration: none;
    color: #fff;
    border: 1.1px black;
    padding: 5px;
    border-radius: 50%;
}

.user a i{
    font-size: 1.5rem;
    width: 20px;
    transition: color .4s ease;
}

.user a:hover i{
    color: aqua;
    opacity: 1;
}

.fa-user {
    padding: 40px;
    font-size: 30px;
    width: 30px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
    background: black;
    color: white;
}

#left-sidebar {
    width: var(--sidebar-width);
    margin-right: var(--sidebar-margin);
    margin-bottom: var(--row-gap);
    height: var(--sidebar-height);
    overflow: var(--sidebar-overflow);
    background-color: var(--sidebar-bg-color);
}

#right-sidebar {
    width: var(--sidebar-width);
    margin-left: var(--sidebar-margin);
    margin-bottom: var(--row-gap);
    height: var(--sidebar-height);
    overflow: var(--sidebar-overflow);
    background-color: var(--sidebar-bg-color);
}

#header-contained {
    height: var(--header-height);
    margin-bottom: var(--header-margin-bottom);
    background-image: var(--header-background);
    background-position: center center;
}

#footer {
    height: var(--footer-height);
    text-align: center;
    color: var(--font-color);
    background-color: var(--footer-bg-color);
    /*margin-top: 5px;*/
}

#header-full {
    display: none;
    height: var(--header-height);
    margin-bottom: var(--header-margin-bottom);
    background-image: var(--header-background);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: auto 280px;
    background-color: #F9F4E1;
}

#navbar-contained {
    margin-bottom: var(--row-gap)
}

#navbar-full {
    display: none;
}

.nav {
    margin-left: 0;
    text-align: var(--navitems-alignment);
    margin-top: 0;
    margin-bottom: var(--navbar-margin-bottom);
    padding-top: 1em;
    padding-bottom: 1em;
    background-color: var(--nav-bg-color);

}

.nav li {
    display: inline-block;
    padding-right: var(--space-between-navitems);
}

.wrapper {
    padding: var(--content-padding);
    padding-top: var(--sidebar-padding);
}

.sidebar-wrapper {
    padding: var(--sidebar-padding);
    height: var(--sidebar-height);
    overflow: var(--sidebar-overflow);
}

.sidebar-image{
    /*background-position: center;*/
    background-size: contain;
    max-height: 230px;
    max-width: 210px;
}


.footer-wrapper {
    padding: 5px;
}

/* To keep your site RESPONSIVE, make sure this variable matches the width for --container-width UNLESS --container-width is 100% - if it's 100%, you'll need to manually input a breakpoint. */
@media only screen and (max-width: 800px) {
    .flex {
        flex-wrap: wrap;
    }

    #left-sidebar {
        width: 100%;
        display: block;
        order: 2;
        margin-right: 0;
        margin-bottom: 10px;
    }

    #right-sidebar {
        width: 100%;
        display: block;
        order: 3;
        margin-left: 0;
    }

    #content-container {
        width: 100%;
        display: block;
        order: 1;
        margin-bottom: 10px;
    }
}
